.top img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.top h1,.top h2{
    text-align: center;
    color: rgb(113, 113, 187);
}
.about,.mywork,.contactme{
    background-color: darkgray;
    margin: 1em 9.375em;
    padding: 1em;

}
.about h2,.mywork h2{
    color:rgb(113, 113, 187);
}
.about h2,.about p{
    text-align: center;
}

.pro{
    color:#FFF;
    width: 5em;
    height: 3em;
    border: #FFF solid;
    padding:2em;

}
.pro1,.pro2,.pro3{
    display: inline-block;
    margin: 0 3em;
    
}
.pro4{
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 1em;
}
.contactme h4{
    text-align: center;
    color: #FFF;
}
.about p{
    color: #FFF;
}